In [22]:
import pandas as pd
import numpy as np

np.random.seed(0)

data = {
    'Method A': np.round(np.random.normal(loc=80, scale=5, size=6)),
    'Method B': np.round(np.random.normal(loc=85, scale=5, size=6)),
    'Method C': np.round(np.random.normal(loc=90, scale=5, size=6))
}

df = pd.DataFrame(data)

In [23]:
df

   Method A  Method B  Method C
0      89.0      90.0      94.0
1      82.0      84.0      91.0
2      85.0      84.0      92.0
3      91.0      87.0      92.0
4      89.0      86.0      97.0
5      75.0      92.0      89.0

In [34]:
df

   Method A  Method B  Method C
0      89.0      90.0      94.0
1      82.0      84.0      91.0
2      85.0      84.0      92.0
3      91.0      87.0      92.0
4      89.0      86.0      97.0
5      75.0      92.0      89.0

In [35]:
overall_mean = df.mean().mean()
overall_mean

88.27777777777779

In [36]:
ss_between = sum(df[group].size * (group_mean - overall_mean)**2 for group, group_mean in df.mean().items())
ss_between

172.4444444444442

In [37]:
ss_within = sum(((df[group] - group_mean)**2).sum() for group, group_mean in df.mean().items())
ss_within

267.16666666666663

In [38]:
df_between = len(df.columns) - 1S
df_within = df.size - len(df.columns)
ms_between = ss_between / df_between
ms_within = ss_within / df_within
f_statistic = ms_between / ms_within

In [39]:
ms_between

86.2222222222221

In [40]:
ms_within

17.81111111111111

In [28]:
df_between

2

In [29]:
df_within

15

In [30]:
f_statistic

4.840923268870861

In [31]:
from scipy.stats import f

alpha = 0.05

f_critical = f.ppf(1 - alpha, df_between, df_within)
f_critical

3.6823203436732412